body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: sans-serif;
}
p, ul, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#wrapper {
  max-width: 950px;
  margin: 0 auto;
}
#content {
  padding: 10px 10px 100px;
}
#footer {
  margin-top: 40px;
  padding: 10px 0 10px;
  border-top: 1px solid #ccc;
  font-size: 14px;
  text-align: right;
}
.text {
  font-size: 14px;
}
.iptText {
  padding: 6px 2px;
  font-size: 14px;
}
.hiddenText {
  display: none;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
